.grid {
  margin: 0px;
}
.p-input-icon-right > .p-inputtext{
  margin: 0px;
  padding: 1rem 2.5rem !important;
}
.p-input-icon-left > i, .p-input-icon-left > svg, .p-input-icon-right > i, .p-input-icon-right > svg{
  margin-left: 10px;
}
